<.flash_group flash={@flash} />
<div class="mb-4">
  <h2 class="text-3xl font-bold">Tiny Note!</h2>
</div>
<div class="mb-4">
  <.link class="text-blue-600 underline" href={~p"/users/log_in"}>Log in</.link>
</div>
<div class="mb-4">
  <.link class="text-blue-600 underline" href={~p"/notes"}>Notes</.link>
</div>

